h1{
    font-size: 4.2em;
    color: rgb(22, 27, 196);
}

body{
    background-color: rgb(0, 0, 0);
}
    
p{
    color: rgb(255, 255, 255);
}

h2{
    color: rgb(22, 27, 196);
}

h3{
    color: rgb(22, 27, 196);
}